/* * {
  margin: 0;
  padding: 0;
}
.bge {
  background-image: url(../src/assets/bg-svg-f.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 860px;
  background-color: #fafafa;
  width: 100%;
 
  
} */
.landing {
  background: url("https://www.evangadi.com/themes/humans/assets/images/misc/bg-svg-f.svg")
    no-repeat;
  background-size: cover;
  background-color: #f8f8f8;
  width: 100%;
  height: 600px;
 
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
